[project]
	description = elgg google buzz plugin
[access "refs/*"]
	owner = group user/Charitha Madusanka (charithccmc)
[access "refs/for/refs/*"]
	read = group user/Charitha Madusanka (charithccmc)
	push = group user/Charitha Madusanka (charithccmc)
	label-Code-Review = -2..+2 group user/Charitha Madusanka (charithccmc)
	label-Verified = -1..+1 group user/Charitha Madusanka (charithccmc)
	rebase = group user/Charitha Madusanka (charithccmc)
	removeReviewer = group user/Charitha Madusanka (charithccmc)
	submit = group user/Charitha Madusanka (charithccmc)
[access "refs/heads/*"]
	read = group user/Charitha Madusanka (charithccmc)
	create = group user/Charitha Madusanka (charithccmc)
	push = +force group user/Charitha Madusanka (charithccmc)
	pushMerge = group user/Charitha Madusanka (charithccmc)
[access "refs/tags/*"]
	push = +force group user/Charitha Madusanka (charithccmc)
	pushTag = group user/Charitha Madusanka (charithccmc)
	pushSignedTag = group user/Charitha Madusanka (charithccmc)
